{% extends 'layout.html' %}
<a class="navbar-brand fw-bold fst-italic" href="{% url 'perfil' %}">Perfil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

{% block content %}

{% load static %}

<!-- Porfolio Section -->
<div class="row my-4 text-center">

  <h3 style="color: #1F2630">Proyectos</h3>

  <p></p>

  <!-- Eliminamos el bucle que itera sobre los proyectos -->
  
</div>


{% endblock %}
