{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background: #0D6EFD;">
  <div class="container">

    {% if en_perfil %}
      <a class="navbar-brand fw-bold fst-italic" href="{% url 'blog:posts' %}">Blog</a>
    {% else %}
      <a class="navbar-brand fw-bold fst-italic" href="{% url 'perfil' %}">Perfil</a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:posts' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home'%}">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crear_publicacion' %}">Crear publicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
